@media only screen and (max-width:1240px){
    .new-card{
        width:200px;
    }

}
@media only screen and (max-width:1100px){
    .new-card{
        width: 180px;
    }
}
@media only screen and (max-width:1024px){
    .new-left, .new-right{
        width: 40%;
    }
    .feature-card{
        width:20%
    }
    .shop{
        padding:0px 120px;
    }
    .desing-left{
        width: 38%;
    }
    .category{
        gap:40px;
    }
}
@media only screen and (max-width:768)
{
    .navbar{

        display: none;
 
    }
    .new-card {
        width: 140px;
    }
    
}
