*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* navbar section */

.navbar{
    position: fixed;
    width: 100%;
    background-color: #6C4C2B;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
    align-items: center;

}
.nav-1{
    display: flex;
    align-items: center;
}
.nav-1 .nav-icon{
    font-size: 28px;
    margin-right: 20px;
}
.nav-2 a{
    text-decoration: none;
    color:white ;
    font-size: 14px;
    margin-right: 20px;
}
.nav-3 span{
    font-size: 14px;
    margin-right: 10px;
}

/* banner section  */
.banner{
    background-image: url(../image/basket.jpg);
    background-size:cover ;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 60px;
}
.banner-text h1{
    font-size: 80px;
    color: #6C4C2B;
}
.banner-text p{
    font-size: 18px;
    color: #997046;
    margin: 20px 0;
}
.main-btn{
    background-color: #6C4C2B;
    color: white;
    border-radius: 40px;
    padding: 10px 30px;
    border: none;
    transition-duration: 1s;
}
.main-btn:hover{
    background-color: white;
    color: #6C4C2B;
    cursor: pointer;
}

/* story section  */
.story{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 80px 0;
}
.story-left{
    width: 35%;
}
.story-right{
    width: 35%;
}
.story-left img{
    width: 100%;
}
.story-text p:first-child{
    color: #6C4C2B;
}
.story-text>h1{
    margin: 30px 0;
}
.story-child{
    display: flex;
    gap: 40px;
    margin: 30px 0;
}
.story-child h1{
    font-size: 45px;
    font-weight: 500;
}

/* FOUNDER SECTION  */
.founder{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px;
}
.founder img{
    margin: 15px 0;
}
/* new section  */
.new-card{
    width: 220px;
}
.new-card img{
    width: 100%;
}
.new{
    display: flex;
    justify-content: center;
    gap: 40px ;
    margin: 60px 0;

}
.new-left, .new-right{
    width: 35%;

}
.new-right img{
    width: 100%;
}
.newleft-child{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* feature section  */
.feature{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.feature-card{
    text-align: center;
    border-right: 1px solid rgb(107, 95, 95);
    width: 18%;
    padding: 0 10px;
}
.feature-card h4{
    margin: 20px 0;
}
.feature-icon{
    font-size: 34px;
}
.fcard1{
    border: none;
}


/* image section  */
.image{
 display: flex;
 justify-content: center;
 gap: 70px;
 padding: 0px 190px;
 
    
}
.image-1 img{
    width: 100%;
    height: 600px;

    
    
}
.image-2 img{
    width: 100%;
    height: 400px;
    margin-top: 10px;
    
    
}

/* shop section  */
.shop-card{
    width: 220px;
}
.shop-card img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 7px rgb(189, 189, 189);
    transition-duration: 2s;
}
.shop-card img:hover{
  transform: scale(1.1);
}
.shop-child{
    display: flex;
    gap: 50px;
    margin-top: 20px;
}
.shop{
  padding: 0px 170px;
  margin: 50px 0;
}

/* desing section  */
.design-right{
    width: 40%;
}
.design-left{
    width: 30%;
}
.design-left p{
    margin: 10px 0;
}
.design-right img{
    width: 100%;
}
.design{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin: 60px 0;
}
.design-left{
    color: rgb(33, 28, 28);
    margin: 20px 0;
    font-size: 17px;
}

/* category section  */
.category{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 60px 0;
}
.category-card{
    background-size: cover;
    background-position: center;
    height: 280px;
    width: 250px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 20px;
}
.category-card h3{
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(51, 47, 47);
}
.card1{
    background-image: url("../image/gallery-4-1.jpg");

}
.card2{
    background-image: url("../image/gallery-5-1.jpg");
}
.card3{
    background-image: url("../image/gallery-6-1.jpg");
}

/* follow section  */
.follow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 60px 0;

}
.follow-icons{
    width: 500px;
    height: 50px;
    background-color: #6C4C2B;
    color: white;
    border-radius: 40px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.follow-icons a{
    text-decoration: none;
    color: white;
    padding: 5px 30px;
    border-radius: 30px;
    transition-duration: 1s;
}
.follow-icons a:hover{
    background-color: #b49e88;
    color: #6C4C2B;
}

/* footer section  */
footer{
    background-color:#F9F4E9 ;
    padding: 30px 140px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-1{
    display: flex;
    justify-content: space-between;
}
.fpart-1, .fpart-5{
    width: 20%;
}
.fpart-1 h2{
    font-size: 30px;
}
.fpart-1 p{
    font-size: 14px;
    margin-top: 10px;
}
.foot-icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    color: white;
}
.foot-icons{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.foot-ul{
    list-style: none;
}
.foot-ul li a{
    text-decoration: none;
    color: black;
    margin: 2px 0;
    display: inline-block;
    font-size: 14px;
}
.foot-ul li {
    margin: 2px 0;
    font-size: 14px;
}
.foot-h4{
    font-size: 14px;
}
.footer-2{
    margin: 60px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-2 h1{
    font-size: 38px;
    font-weight: 500;
}
.footer-2 span{
    color: gray;
    font-size: 12px;
}
.footer-2 form input{
    padding: 10px;
    width: 550px;
    border-radius: 40px;
    border: none;
}
.footer-2 form {
    margin-top: 40px;
}
.footer-2 form button{
    background-color: black;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 30px;
    margin-left: -130px;
}
.footer-3{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.footer-3 p{
   font-size: 14px;
}
.footer-3 p span{
   color:orange;
}

